.header-color {
    background: #fff;
    position: fixed;
    width:100%;
}

.logo-easy {
    color: #26A6D1;
    display: inline-block;
    cursor: not-allowed; 
    user-select: none; 
}


.btn-conhecer {
    transition: transform 0.3s, color 0.3s; 
}

.btn-conhecer:hover {
    text-decoration: none;
    transform: scale(1.1); 
    color: #ff5733; 
}



ul li .text {
    color: #000 ;
}

ul li .text:hover{
    color: #26A6D1;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: "";
    display: block;
    width: 0;
    height: 2px; /* Altura da barra */
    background-color: #26A6D1; /* Cor da barra */
    position: absolute;
    bottom: -3px; /* Ajuste a posição vertical da barra conforme necessário */
    left: 0;
    transition: width 0.5s; /* Duração da transição */
}

.nav-link:hover::before {
    width: 100%;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px); /* Ajuste o valor de desfoque conforme desejado */
    background-color: rgba(255, 255, 255, 0.8); /* Ajuste a cor e a transparência conforme desejado */
    z-index: 1;
}

.header-blur {
    backdrop-filter: blur(5px); /* Ajuste o valor do blur conforme necessário */
    transition: backdrop-filter 0.3s ease;
}

#site-header {
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s ease;
}


.gap {
    display: flex;
    gap: 20px;
}

#toggle-button {
    margin-top: 10px;
}

#text {
    max-height: 100px; /* Altura inicial para exibir apenas 3 linhas */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#text.expanded {
    max-height: none; /* Exibe o texto completo */
}


.card {
    width: 400px;
    height: 350px;
    background: #f9f6f6;
    border-radius: 10px;
    border: #f9f6f6;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);    
}

.buttonCard { 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 58px; 
    font-size: 20px;
    color: #fff;
    background: #30C48F;
}

.buttonCard:hover {
    color: #fff;
    background: #109767;
}

.btn-reservar {
    background: #164656; 
    color: #fff;
}

.btn-reservar:hover {
    color: #fff;
    background: #1A647C;
}

//
/* Estilo para a lista de motos */
.motos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.motos-list-container {
    max-height: 491px;
    overflow-y: auto; /* Adicione uma barra de rolagem vertical quando necessário */
}

/* Estilo para cada moto na lista */
.moto {
    display: flex;
    gap: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    width: 520px;
}

#motos-list h2 {
    font-size: 20px;
    font-weight: bold;
}

#moto-list p {
}


/* Estilize a barra de rolagem na lista de motos */
.motos-list-container::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    background-color: #f9f6f6; /* Cor de fundo da barra de rolagem */
    border-radius: 4px; /* Borda arredondada da barra de rolagem */
}

/* Estilize o pega da barra de rolagem */
.motos-list-container::-webkit-scrollbar-thumb {
    background-color: #26A6D1; /* Cor da barra de rolagem */
    border-radius: 4px; /* Borda arredondada da barra de rolagem */
}

/* Estilize a barra de rolagem quando estiver passando o mouse sobre ela */
.motos-list-container::-webkit-scrollbar-thumb:hover {
    background-color: #1c87ab; /* Cor da barra de rolagem ao passar o mouse */
}

/* Estilizar o select */
.form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
}

/* Estilizar as opções */
.form-select option {
    color: #000;    
    padding: 10px;
    transition: background-color 0.3s;
}

/* Alterar a cor de fundo ao passar o mouse */
.form-select option:hover {
    background-color: red;
}