.header-color {
    background: #fff;
    position: fixed;
    width:100%;
}

.logo-easy {
    color: #26A6D1;
    display: inline-block;
    cursor: not-allowed; 
    user-select: none; 
}

ul li .text {
    color: #000 ;
}

ul li .text:hover{
    color: #26A6D1;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: "";
    display: block;
    width: 0;
    height: 2px; /* Altura da barra */
    background-color: #26A6D1; /* Cor da barra */
    position: absolute;
    bottom: -3px; /* Ajuste a posição vertical da barra conforme necessário */
    left: 0;
    transition: width 0.5s; /* Duração da transição */
}

.nav-link:hover::before {
    width: 100%;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px); /* Ajuste o valor de desfoque conforme desejado */
    background-color: rgba(255, 255, 255, 0.8); /* Ajuste a cor e a transparência conforme desejado */
    z-index: 1;
}

.header-blur {
    backdrop-filter: blur(5px); /* Ajuste o valor do blur conforme necessário */
    transition: backdrop-filter 0.3s ease;
}

#site-header {
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s ease;
}


.gap {
    display: flex;
    gap: 20px;
}

#toggle-button {
    margin-top: 10px;
}

#text {
    max-height: 100px; /* Altura inicial para exibir apenas 3 linhas */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#text.expanded {
    max-height: none; /* Exibe o texto completo */
}


.card {
    width: 436px;
    height: 300px;
    background: #F0F0F0;
    border: none;
}

.buttonCard { 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 58px; 
    font-size: 20px;
    color: #fff;
    background: #30C48F;
}

.buttonCard:hover {
    color: #fff;
    background: #109767;
}